<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="Ремизов Александр" />
    <meta name="copyright" lang="ru" content="RemiZOffAlex" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}" />
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
    <script src="{{ url_for('static', filename='js/jquery-2.2.4.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
    <title>{{ pagedata['title'] }}</title>
</head>
