<div class="card">
<div class="card-body">
<p>Приложение «Центр сертификации» может быть использовано для хранения сертификатов, а также для генерации корневых сертификатов и подписи с их помощью серверных и клиентских сертификатов</p>

<div class="card">
<div class="card-header">Вспомогательные команды</div>
<div class="card-body">
<p>Проверка корректности сертификата</p>

<pre>openssl x509 -in cert.crt -text -noout</pre>

<p>Проверка корректности ключа</p>

<pre>openssl rsa -in cert.key -check</pre>

<p>Проверка сумм md5</p>

<pre>openssl x509 -noout -modulus -in cert.crt | openssl md5
openssl rsa -noout -modulus -in cert.key | openssl md5
openssl req -noout -modulus -in cert.csr | openssl md5</pre>

</div>
</div>

<p>Внешний ресурс для просмотра содержимого сертификата <a href="https://www.sslchecker.com/certdecoder" target="_blank">SSL Certificate Decoder</a></p>
</div>
</div>
